.cupload-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Avenir LT Std", sans-serif;
  text-align: left;
}

/* Style for the back button */
.cback-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Doctor's name styling */
.cdoctor-name {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px;
}

/* Heading for the prescribed medicines section */
.cprescribed-medicines-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styling for the medicine list */
.cmedicine-list {
  list-style: disc;
  /* padding-left: 20px; */
  margin-bottom: 20px;
}

/* Each medicine item in the list */
.cmedicine-list li {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Container for the medicine upload section */
.cmedicine-upload {
  margin-bottom: 20px;
}

/* Upload input styling, with the span and button aligned horizontally */
.cupload-input {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 14px;
}

/* Camera button styling */
.ccamera-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

/* Styling for the icons */
.cicon-image {
  width: 17px;
  height: 17px;
}

/* Next button styling */
.cnext-button {
  margin-top: 20%;
  background-color: #ffa726;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for the next button */
.cnext-button:hover {
  background-color: #fb8c00;
}

.cmedicine-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cmedicine-item {
  display: flex;
  flex-direction: column;
}

.cmedicine-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.cmedicine-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  /* border-radius: 0.5rem; */
}

.cmedicine-info span {
  font-size: 0.9rem;
  color: black;
}

.cdelete-button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
}

.cdelete-button:hover {
  color: black;
}
