.test-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    padding: 0 20px; /* Left and right padding for the container */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
  }
  
  .tick-icon {
    width: 150px;
    height: 150px;
    /* margin-bottom: 20px; */
  }
  
  .tsuccess-message {
    width: 65%;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
  }
  
  .thome-button {
    width: calc(100% - 40px); /* Full width minus container padding */
    padding: 10px 0;
    font-size: 14px;
    background-color: #F2A54A;
    color: #000;
    font-family: 'Avenir LT STD', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px; /* Align with the container's left padding */
  }
  
  .home-button:hover {
    background-color: #e3943c;
  }
  