.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 131px;
    height: 32px;
    margin-right: 8px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.notification-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
