/* Header styles */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box; /* Ensures padding is within width */
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect for header */
}

.menu-icon, .notification-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    width: 131px;
    height: auto; 
    margin: 0;
}

.logo img {
    width: 131px;
    height: 32px;
    margin-right: 8px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* Slide-out menu */
.slide-menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden initially */
    width: 250px;
    height: 100%;
    background-color: white;
    color: black;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.slide-menu.open {
    left: 0; /* Slide in from the left */
}

/* Close icon for the slide menu */
.close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.slide-menu ul {
    list-style-type: none;
    padding: 0;
}

.slide-menu ul li {
    padding: 15px;
    text-align: center;
}

.slide-menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.slide-menu ul li a:hover {
    background-color: #444;
    color: white;
}

.side-menu {
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s ease; /* Smooth transition */
  }
  
  .side-menu.open {
    left: 0; /* Show when open */
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .profile-name {
    font-weight: bold;
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .menu-items {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
  }
  
  .menu-items:hover {
    background-color: #f5f5f5;
  }
  
  .menu-icons {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .language-selectors select {
    width: 100%;
    margin-top: 5px;
  }