.app-container {
  width: 375px;
  height: 100vh;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
}

.language-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background: linear-gradient(179.96deg, #FFFFFF 0.03%, #FBB03B 187.34%);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
  }
  
  /* Logo Section */
  .logo-section {
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 150px;
  }
  
  /* Illustration Section */
  .illustration-section {
    margin-bottom: 15px;
  }
  
  .illustration {
    max-width: 400px;
    height: auto;
  }